@model MarketStore.Models.Product

@{
    ViewData["Title"] = "Edit";
      Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}



<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quntity" class="control-label"></label>
                <input asp-for="Quntity" class="form-control" />
                <span asp-validation-for="Quntity" class="text-danger"></span>
            </div>

              <div>
                      <label hidden asp-for="Imagepath" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                        <input hidden asp-for="Imagepath" type="text" class="form-control">
                        <span hidden asp-validation-for="Imagepath" class="text-danger"></span>
               </div>

             <div class="form-group">
                  <label  asp-for="ImageFile" class="control-label"></label>
 <input asp-for="ImageFile" class="form-control" />
 <span asp-validation-for="ImageFile" class="text-danger"></span>
 </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label"></label>
                <select asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:20px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to product List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
